extends layout

block content
  h3 Welcome to #{title}
  div(class="main-container")
    div(class="image-container")
      a(href="/basket/add/apple")
        img(src="/images/apple.jpeg" class="fruit-img")
        span Apple
      a(href="/basket/add/banana")
        img(src="/images/banana.jpg" class="fruit-img")
        span Banana
      a(href="/basket/add/orange")
        img(src="/images/orange.jpg" class="fruit-img")
        span Orange
      a(href="/basket/add/papaya")
        img(src="/images/papaya.jpg" class="fruit-img")
        span Papaya
    div(class="receipt-container")
      include ./basket.jade
