body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-container{
  display: flex;
}

.image-container{
   width: 40%;
   display: flex;
   flex-direction: column;
}

.image-container a {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 10px;
  text-decoration: transparent;
}

.image-container a:hover {
  background: #e3e3e3;
}

.image-container a span{
  font-size: 20px;
  color: black;
  padding-left: 40px;
}

.fruit-img{
  width: 50px;
}

.receipt{
  font-size: 20px;
}

.receipt-container{
  width:30%;
}

.receipt-title{
  text-align: center;
  font-weight: 700;
  color: black;
}

.receipt-address{
  text-align: center;
  font-weight: 500;
  color: black;
}

.receipt-sale-items{
  width: 100%;
}

.receipt-sale-items td{
  text-align: right;
}
.receipt-total{
  text-align: right;
  font-weight: 900;
  color: black;
}
.receipt-cancel{
  float: right;
}
